# Secrets
.env
*.env
.env.local
.env.production

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual Env
venv/

# Storage
backend/storage/
!backend/storage/.gitkeep
!backend/storage/uploads/.gitkeep
!backend/storage/vector_db/.gitkeep
!backend/storage/vector_db/chroma_db/.gitkeep
!backend/storage/database/.gitkeep
!backend/storage/logs/.gitkeep
backend/storage/logs/*.log
backend/storage/logs/*.log.*
backend/storage/logs/*.db


# Test
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
